.root {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
  }
  
  .item {
    width: 100%;
    height: 5rem;
    display: flex;
    background-color: rgb(40, 136, 40);
    margin: 1rem;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 5px;
    color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
  }
  
  .item::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(240, 238, 225, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );
  }
  
  .image {
    height: 100%;
    width: 400px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  .inner {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  
  .name {
    font-size: 2rem;
    font-weight: 600;
    position: relative;
    margin-bottom: .5rem;
    z-index: 2;
  }

  .count{
      position: relative;
      z-index: 2;
  }
  
  .root a{
      color: black !important;
      text-decoration: none;
      font-weight: 600;
  }